
<div class="sub-banner">
</div>
<div class="about">
	<div class="container"> 
		<h3>Về chúng tôi</h3>
		<div class="about-info">
			<div class="col-md-8 about-grids">
				<h4>Sản phẩm nhập về chính hãng</h4>	
				<p>Các sản phẩm được nhập từ các thương hiệu uy tín nhất với chất lượng và dịch vụ bảo hành tốt nhất.
					Kính thưa Quý khách hàng, hiện nay trước nhu cầu sử dụng các sản phẩm tiện ích cho gia đình ngày càng tăng, nhu cầu mua hàng trực tuyến cũng như mua tại siêu thị là nhu cầu cấp thiết cho những khách hàng bận rộn khi dành thời gian đi mua sắm không đáp ứng được và khách hàng muốn có sản phẩm đạt tiêu chuẩn với độ tin cậy cao, vì thế Công Ty FANoFAN ra đời nhằm đáp ứng nhu cầu và làm thỏa mãn cho khách hàng một sự lựa chọn dễ dàng và hoàn hảo khi đi mua sắm.
				</p>
					<!-- <div class="about-w3ls-row">
						<div ng-controller="CarouselDemoCtrl">
						 	<div style="height: 305px">
							    <div uib-carousel active="active" interval="myInterval" no-wrap="noWrapSlides">
							      <div uib-slide ng-repeat="slide in slides track by slide.id" index="slide.id">
							        <img ng-src="{{slide.image}}" style="margin:auto;">
							        <div class="carousel-caption">
							          <p>{{slide.text}}</p>
							        </div>
							      </div>
							    </div>
						 	</div>					
						</div>						
					<div class="clearfix"> </div>
					</div> -->
					<div class="about-w3ls-row">
						<script type="text/javascript" src="js/jquery.flexisel.js"></script> 
						<ul id="flexiselDemo3">
							<li>
								<img src="images/a1.jpg" class="img-responsive" alt="" />
							</li>
							<li> 
								<img src="images/a2.jpg" class="img-responsive" alt="" />
							</li>
							<li> 
								<img src="images/a3.jpg" class="img-responsive" alt="" />
							</li>
							<li> 
								<img src="images/a4.jpg" class="img-responsive" alt="" />
							</li>
						</ul>  
						<div class="clearfix"> </div>
						<script type="text/javascript">
								$(document).ready(function() {
									$("#flexiselDemo3").flexisel({
										visibleItems:2,
										animationSpeed: 1000,
										autoPlay: true,
										autoPlaySpeed: 8000,    		
										pauseOnHover: true,
										enableResponsiveBreakpoints: true,
										responsiveBreakpoints: { 
											portrait: { 
												changePoint:480,
												visibleItems:2
											}, 
											landscape: { 
												changePoint:640,
												visibleItems:2
											},
											tablet: { 
												changePoint:768,
												visibleItems:2
											}
										}
									});									
								});
						</script>
					</div>
			</div>
			<div class="col-md-4 about-grids">
					<h4>Luôn cam kết với khách hàng</h4>
					<div class="pince">
						<div class="pince-left">
							<h5>01</h5>
						</div>
						<div class="pince-right">
							<p>Cung cấp sản phẩm chính hãng bảo hành trên toàn quốc.</p>
						</div>
						<div class="clearfix"> </div>
					</div>
					<div class="pince">
						<div class="pince-left">
							<h5>02</h5>
						</div>
						<div class="pince-right">
							<p>Hệ thống phân phối rộng khắp trên 63 tỉnh thành cả nước.</p>
						</div>
						<div class="clearfix"> </div>
					</div>
					<div class="pince">
						<div class="pince-left">
							<h5>03</h5>
						</div>
						<div class="pince-right">
							<p>Dịch vụ chăm sóc 24/7 lắp đặt tại nhà miễn phí đổi trả.</p>
						</div>
						<div class="clearfix"> </div>
					</div>
					<div class="pince">
						<div class="pince-left">
							<h5>04</h5>
						</div>
						<div class="pince-right">
							<p>Phản hồi từ các bạn làm công ty chúng tôi trở nên tốt hơn.</p>
						</div>
						<div class="clearfix"> </div>
					</div>
			</div>
			<div class="clearfix"> </div>
		</div>
	</div>
</div>
<!-- //about -->
<!-- about-bottom -->
	<div class="about-bottom">
		<div class="container">
			<h3 style="margin-right: 60px;">Nhiều sản phẩm giảm giá trên<span>10%</span></h3>
			<h4></h4>
			<a href="#/" style="margin-right: 30px;">Mua ngay</a>
		</div>
	</div>
<!-- //about-bottom -->
<!--team-->
<div class="team" id="team">
	<div class="container">
		<h3>Điều hành công ty</h3>
		<div class="team-grids">
			<div class="col-md-3 team-grid">
									<div class="team-img">
										<img src="images/t1.jpg" class="img-responsive" alt=" " />
										<figcaption class="overlay">
											<div class="social-icon">
												<a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
												<a href="#"><i class="fa fa-dribbble" aria-hidden="true"></i></a>
												<a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
												<a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
											</div>
										</figcaption>
									</div>
									<h4>John Filmr Doe</h4>
									<h5>Giám đốc sản xuất</h5>
			</div>
			<div class="col-md-3 team-grid">
				<div class="team-img">
					<img src="images/t3.jpg" class="img-responsive" alt=" " />
					<figcaption class="overlay">
						<div class="social-icon">
							<a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
							<a href="#"><i class="fa fa-dribbble" aria-hidden="true"></i></a>
							<a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
							<a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
						</div>
					</figcaption>
				</div>
				<h4>Jaye Smith</h4>
				<h5>Phát triển sản phẩm</h5>
			</div>
			<div class="col-md-3 team-grid">
				<div class="team-img">
					<img src="images/t2.jpg" class="img-responsive" alt=" " />
					<figcaption class="overlay">
						<div class="social-icon">
							<a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
							<a href="#"><i class="fa fa-dribbble" aria-hidden="true"></i></a>
							<a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
							<a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
						</div>
					</figcaption>
				</div>
				<h4>Mike Arney</h4>
				<h5>Quản lý thương hiệu</h5>
			</div>
			<div class="col-md-3 team-grid">
				<div class="team-img">
					<img src="images/t4.jpg" class="img-responsive" alt=" " />
					<figcaption class="overlay">
						<div class="social-icon">
							<a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
							<a href="#"><i class="fa fa-dribbble" aria-hidden="true"></i></a>
							<a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
							<a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
						</div>
					</figcaption>
				</div>
				<h4>Michele Lampa</h4>
				<h5>Giám đốc Marketing</h5>
			</div>
			<div class="clearfix"></div>
		</div>
	</div>
</div>
