<div ng-init="getAuthors()">
    <div ng-repeat="author in authors" >
      <div class="col-md-3 tp7 " data-wow-delay=".5s" style="max-height: 200px; margin: 30px">  
      <a href="#/brands/details/{{author._id}}" ng-click="getBooksByAuthor()"><div class="product-img">
        <img ng-src="{{author.image_url1}}" alt="" style="height: 150px"/>   
        </div></a>
    </div>
</div>

  <!-- sale up to 50% -->

<!-- <div class="banner-bootom-w3-agileits">
  <div class="container">
    <div class="col-md-5 bb-grids bb-left-agileits-w3layouts">
      <a href="#/products"><div class="bb-left-agileits-w3layouts-inner">
          <h3>SALE</h3>
          <h4>upto<span>25%</span></h4>
      </div></a>
    </div>
    <div class="col-md-4 bb-grids bb-middle-agileits-w3layouts">
      <a href="#/products"><div class="bb-middle-top">
        <h3>SALE</h3>
        <h4>upto<span>15%</span></h4>
      </div></a>
      <a href="#/products"><div class="bb-middle-bottom">
        <h3>SALE</h3>
        <h4>upto<span>20%</span></h4>
      </div></a>
    </div>
    <div class="col-md-3 bb-grids bb-right-agileits-w3layouts">
      <a href="#/products"><div class="bb-right-top">
        <h3>SALE</h3>
        <h4>upto<span>10%</span></h4>
      </div></a>
      <a href="#/products"><div class="bb-right-bottom">
        <h3>SALE</h3>
        <h4>upto<span>30%</span></h4>
      </div></a>
    </div>
    <div class="clearfix"></div>
  </div>
</div> -->


 




