<style>
	.faqs-w3l {
		padding: 5em 0;
	}
	h3.w3-head {
    color: #FF5722;
    font-size: 35px;
    margin: 0 0 35px 0;
	}
	.faq-w3agile h5, .privacy-w3row h5 {
	    font-size: 20px;
	    color: #1e1e1e;
	    margin: 16px 0 0;
	    letter-spacing: 1px;
	}
	ul.faq {
	    padding-left: 1.5em;
	}
	.faq-w3agile .faq li {
	    margin-top: 2em;
	    list-style-type: decimal;
	    padding-left: 0.5em;
	}
	.faq-w3agile .faq > li > a { 
	    color: #025061;
	    font-size: 17px;
	    letter-spacing: 0.5px;
	} 
	li.subitem1 p {
	    line-height: 25px;
	    font-size: 14px;
	    letter-spacing: 0.5px;
	    color: #000;
	}
	.faq-w3agile .faq li li.subitem1 {
	    display: block;
	    margin-top: 1em;
	} 
	div #content1  {
		line-height: 200%;
		font-size: 21px;
		font-family: serif;
	}
	.ul{
		margin: 10px 0 10px 70px;
	}
	.h1{
		margin: 25px 25px 20px 0;
	}
	em{
		    margin: 0 30px;
	}
	.lh {
    color: #0937e4;
    font-family: serif;
    font-size: 20px;
	}
	
</style>

	<!-- FAQ-help-page -->
	<div class="faqs-w3l">
		<div class="container">
			<!-- tittle heading -->
			<h3 class="tittle-w3l">Faqs
				<span class="heading-style">
					<i></i>
					<i></i>
					<i></i>
				</span>
			</h3>
			<!-- //tittle heading -->
			<h3 class="w3-head">Những câu hỏi thường gặp</h3>
			<div id ="content1">
	<div>
		<strong> 1.Tôi có thể mưa hàng bằng cách nào ?</strong>
		<br><em>Bạn có thể mua hàng bằng 1 trong 3 cách:</em>
		<ul class="ul">
			<li> Đặt hàng online.</li>
			<li> Gọi số điện thoại <strong>+1(401) 1234 567</strong> hoặc <strong>+1(804) 4261 150 </strong>để được tư vấn và đặt hàng.</li>
			<li>Đến trực tiếp tại công ty : <strong>Số 8 Tôn Thất Thuyết,Hà Nội, Việt Nam.</strong>
			</li>
		</ul>
	</div>
	<div>
		<strong> 2.Tôi có phải trả phí giao hàng không ?</strong>
		<br><em> Chúng tôi giao hàng miễn phí phạm vi nội thành Hà Nội. Đối với khu vực ngoại thành hoặc tỉnh thành khác mới tính phí.</em></br>
	</div>
	<div>
		<strong> 3.Đơn hàng sẽ được giao trong bao lâu ?</strong>
		<br><em> Tùy vào khu vực của bạn mà chúng tôi sẽ giao ngay trong ngày bạn đặt hoặc trễ nhất làm 1- 2 ngày (không tính chủ nhật).</em></br>
	</div>
	<div>
		<strong>4. Tại sao giá quạt của công ty lại rẻ vậy? Liệu chất lượng có đảm pảo không?</strong>
		<br><em> Giá rẻ là do chúng tôi bán hàng tại kho, không trưng bày sản phẩm và không tốn chi phí mặt bằng.</em>
		<br><em> Chúng tôi xin cam kết hàng chính hãng mới 100%, chất lượng đảm bảo.</em>
	</div>
	<div>
		<strong> 5.Có thể mua sản phẩm bằng trả góp không ?</strong>
		<br><em> Hiện tại bên chúng tôi chưa có hình thức trả góp.</em>
	</div>
	<div>
		<strong>6.Công ty có bán hàng cũ không?</strong>
		<br><em> Chúng tôi chỉ bán hàng mới 100%.</em>
	</div>
	<div>
		<strong>7.Công ty có thu mua hàng đã qua sử dụng không ?</strong>
		<br><em> Bên công ty chúng tôi k thu mua hàng đã qua sử dụng. </em>
	</div>
	<div>
		<strong>8.Tôi có thể thanh toán bằng những hình thức nào? </strong>
		<br><em>Bạn có thể thanh toán bằng 2 cách:</em>
		<ul class="ul">
			<li>Thanh toán bằng tiền mặt. </li>
			<li>Chuyển khoản ngân hàng. </li>
		</ul>
	</div>
	<div>
		<strong> 9.Tôi có phải trả thuế VAT không?</strong>
		<br><em> Tất cả sản phẩm của công ty đều phải trả thuế VAT.</em>
	</div>
	<div>
		<strong> 10. Hiện tại công ti có bao nhiêu chi nhánh? Ở những tỉnh thành nào?</strong>
		<br><em> Công ti hiện có 1 chi nhánh duy nhất ở : <strong>Số 8 Tôn Thất Thuyết,Hà Nội, Việt Nam.</strong></em>
	</div>
	<div>
		<strong>11.Tôi không tìm thấy câu hỏi của mình tại đây ?</strong>
		<br><em> Bạn vui lòng vào mục <a href="#/contact" class="lh">Liên hệ</a> trên website để gửi nội dung cần hỏi. Chúng tôi sẽ trả lời ngay sau khi nhân được thông tin.</em>
		<br>
		<em>Bạn có thể liên hệ với chúng tôi qua email:<strong>fanofan@gmail.com</strong></em>
	</div>
</div>
