

<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      ...
    </div>
  </div>
</div>


 <section class="container ng-scope">
 	<div class="col-md-10 col-md-offset-1">
  <div class="panel panel-primary">
    <div class="panel-heading" style="background-color: #00e58b;">
        <h5 class="panel-title" style="font-size: 30px;">Đăng ký</h5>
    </div>
    <div class="panel-body">
		<div class="col-md-10 col-md-offset-1">
        <form class="form-horizontal ng-pristine ng-invalid ng-invalid-required ng-valid-pattern ng-valid-minlength ng-valid-email ng-valid-maxlength" name="signupForm"  novalidate="">

            <!--ID-->

            <div class="form-group has-feedback" ng-class="{'has-warning': signupForm.username.$dirty &amp;&amp; signupForm.username.$invalid, 'has-success': signupForm.username.$dirty &amp;&amp; signupForm.username.$valid}">

                <label for="username" class="control-label col-md-3 col-sm-3">Tài Khoản <strong class="text-danger">*</strong></label>
                <div class="col-md-9 col-sm-9">
                    <div class="col-md-8 col-sm-8 col-xs-10">
                      <input name="username" type="text" class="form-control ng-pristine ng-untouched ng-empty ng-invalid ng-invalid-required ng-valid-pattern ng-valid-minlength" ng-model="user.username" placeholder="Tài Khoản có ít nhất 8 ký tự" ng-minlength="8" ng-pattern="/^[a-zA-Z0-9]+$/" required="">
                        <span class="glyphicon glyphicon-ok form-control-feedback ng-hide" ng-show="signupForm.username.$dirty &amp;&amp; signupForm.username.$valid">
                        </span>
                        <span class="glyphicon glyphicon-warning-sign form-control-feedback ng-hide" ng-show="signupForm.username.$dirty &amp;&amp; signupForm.username.$invalid">
                        </span>
                      </input>
                    </div>
                    <div ng-show="signupForm.username.$dirty &amp;&amp; signupForm.username.$invalid" class="col-md-12 col-sm-12 col-xs-12 text-warning ng-hide">
                        <span ng-show="signupForm.username.$error.required">Bạn chưa nhập tài khoản</span>
                        <span ng-show="signupForm.username.$error.minlength" class="ng-hide">Tài khoản phải có ít nhất 8 ký tự</span>
                        <span ng-show="signupForm.username.$error.pattern &amp;&amp; !signupForm.username.$error.minlength" class="ng-hide">Tài khoản không được có ký tự đặc biệt</span>
                    </div>
                </div>


            </div>
			
			<!-- Full Name -->

            <div class="form-group has-feedback" ng-class="{'has-warning': signupForm.fullName.$dirty &amp;&amp; signupForm.fullName.$invalid, 'has-success': signupForm.fullName.$dirty &amp;&amp; signupForm.fullName.$valid}">

                <label for="fullName" class="control-label col-md-3 col-sm-3 col-xs-12">Họ Tên <strong class="text-danger">*</strong></label>
                <div class="col-md-9 col-sm-9">
                    <div class="col-md-8 col-sm-8 col-xs-10">
                        <input name="fullName" type="text" class="form-control ng-pristine ng-untouched ng-empty ng-invalid ng-invalid-required ng-valid-pattern ng-valid-minlength" ng-minlength="8" ng-model="user.name" placeholder="Tên đầy đủ của bạn" ng-pattern="/^[a-zA-Z0-9]+$/" required="">
                        <span class="glyphicon glyphicon-ok form-control-feedback ng-hide" ng-show="signupForm.fullName.$dirty &amp;&amp; signupForm.fullName.$valid">
                        </span>
                        <span class="glyphicon glyphicon-warning-sign form-control-feedback ng-hide" ng-show="signupForm.fullName.$dirty &amp;&amp; signupForm.fullName.$invalid">
                        </span>
                        </input>
                        <div ng-show="signupForm.fullName.$dirty &amp;&amp; signupForm.fullName.$invalid" class="col-md-12 col-sm-12 col-xs-12 text-warning ng-hide">
	                        <span ng-show="signupForm.fullName.$error.required">
	                            Bạn chưa nhập họ tên
	                        </span>
	                        <span ng-show="signupForm.username.$error.minlength" class="ng-hide">Tên phải có ít nhất 8 ký tự</span>
	                        <span ng-show="signupForm.fullName.$error.pattern &amp;&amp; !signupForm.fullName.$error.minlength" class="ng-hide">Tài khoản không được có ký tự đặc biệt</span>
	                    </div>
                    </div>
                </div>

            </div>

            <!-- Email -->

            <div class="form-group has-feedback" ng-class="{'has-warning': signupForm.email.$dirty &amp;&amp; signupForm.email.$invalid, 'has-success': signupForm.email.$dirty &amp;&amp; signupForm.email.$valid}">

                <label for="email" class="control-label col-md-3 col-sm-3">Email <strong class="text-danger">*</strong></label>
                <div class="col-md-9 col-sm-9">
                    <div class="col-md-8 col-sm-8 col-xs-10">
                      <input name="email" type="email" class="form-control ng-pristine ng-untouched ng-empty ng-valid-email ng-invalid ng-invalid-required" ng-model="user.email" placeholder="Ví Dụ: abc@xyz.com" required="">
                        <span class="glyphicon glyphicon-ok form-control-feedback ng-hide" ng-show="signupForm.email.$dirty &amp;&amp; signupForm.email.$valid">
                        </span>
                        <span class="glyphicon glyphicon-warning-sign form-control-feedback ng-hide" ng-show="signupForm.email.$dirty &amp;&amp; signupForm.email.$invalid">
                        </span>
                      </input>
                    </div>
                    <div ng-show="signupForm.email.$dirty &amp;&amp; signupForm.email.$invalid" class="col-md-12 col-sm-12 col-xs-12 text-warning ng-hide">
                        <span ng-show="signupForm.email.$error.required">
                            Bạn chưa nhập email
                        </span>
                        <span ng-show="signupForm.email.$error.email" class="ng-hide">
                            Email không đúng định dạng
                        </span>
                    </div>
                </div>


            </div>

            <!--password-->

            <div class="form-group has-feedback" ng-class="{'has-warning':signupForm.password.$dirty &amp;&amp; signupForm.password.$invalid, 'has-success': signupForm.password.$valid}">

                <label for="password" class="control-label col-md-3 col-sm-3">Mật Khẩu <strong class="text-danger">*</strong></label>
                <div class="col-md-9 col-sm-9">
                    <div class="col-md-8 col-sm-8 col-xs-10">
                      <input name="password" type="password" class="form-control ng-pristine ng-untouched ng-empty ng-invalid ng-invalid-required ng-valid-pattern ng-valid-minlength" placeholder="Mật khẩu có ít nhất 8 ký tự" ng-model="user.password" ng-minlength="8" ng-pattern="/^[a-zA-Z0-9]+$/" required="">
                        <span class="glyphicon glyphicon-ok form-control-feedback ng-hide" ng-show="signupForm.password.$dirty &amp;&amp; signupForm.password.$valid">
                        </span>
                        
                        <span class="glyphicon glyphicon-warning-sign form-control-feedback ng-hide" ng-show="signupForm.password.$dirty &amp;&amp; signupForm.password.$invalid">
                        </span>
                      </input>
                    </div>
                    <div ng-show="signupForm.password.$dirty &amp;&amp; signupForm.password.$invalid" class="col-md-12 col-sm-12 col-xs-12 text-warning ng-hide">
                        <span ng-show="signupForm.password.$error.required">
                            Bạn chưa nhập mật khẩu
                        </span>
                        <span ng-show="signupForm.password.$error.minlength" class="ng-hide">
                            Mật khẩu phải có ít nhất 8 ký tự
                        </span>
                        <span ng-show="signupForm.password.$error.pattern &amp;&amp; !signupForm.password.$error.minlength" class="ng-hide">
                            Mật khẩu không được có ký tự đặc biệt
                        </span>
                    </div>
                </div>


            </div>

            <!-- Confirm pass -->

            <div class="form-group has-feedback" ng-class="{'has-warning': signupForm.confirmPassword.$dirty &amp;&amp; signupForm.confirmPassword.$error.notConfirm, 'has-success': signupForm.confirmPassword.$valid}">

                <label for="confirmPassWord" class="control-label col-md-3 col-sm-3">Nhập lại Mật khẩu <strong class="text-danger">*</strong></label>
                <div class="col-md-9 col-sm-9">
                    <div class="col-md-8 col-sm-8 col-xs-10">
                      <input name="confirmPassword" type="password" class="form-control ng-pristine ng-untouched ng-empty ng-invalid ng-invalid-required" ng-model="confirmPassword" placeholder="Nhập lại mật khẩu" compare-to="" required="">
                        <span class="glyphicon glyphicon-ok form-control-feedback ng-hide" ng-show="signupForm.confirmPassword.$valid">
                        </span>
                        <span class="glyphicon glyphicon-warning-sign form-control-feedback ng-hide" ng-show="signupForm.confirmPassword.$dirty &amp;&amp; signupForm.confirmPassword.$error.notConfirm">
                        </span>
                      </input>
                    </div>
                    <div ng-show="signupForm.confirmPassword.$dirty &amp;&amp; signupForm.confirmPassword.$error.notConfirm" class="col-md-12 col-sm-12 col-xs-12 text-warning ng-hide">
                        Nhập lại mật khẩu không trùng khớp
                    </div>
                </div>


            </div>
          

           

            <!--Term and rules-->

            <div class="form-group">
              <label for="term" class="control-label col-md-3 col-sm-3">&nbsp;</label>
              <div class="col-md-9 col-sm-9">
                <div class="col-md-10 col-sm-10">
                    <input name="term" type="checkbox" ng-model="terms" id="term" required="" class="ng-pristine ng-untouched ng-empty ng-invalid ng-invalid-required">  
                    <label for="term" class="control-label"><a href="" data-toggle="modal" data-target=".bs-example-modal-lg"></a>Đồng ý điều khoản sử dụng</label>
                    <!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bs-example-modal-lg">Large modal</button> -->
                  </input>
                </div>
              </div>       
            </div>


            <!--The Button-->

            <div class="form-group">
                <div class="col-md-3 col-sm-3">
                    &nbsp;
                </div>

                <div class="col-md-9 col-sm-9">
                    <div class="col-md-8 col-sm-8">
                        <button type="button" class="btn btn-primary" ng-disabled="!signupForm.$dirty || signupForm.$dirty &amp;&amp; signupForm.$invalid" disabled="disabled" ng-click="createUser()">
                            <span class="glyphicon glyphicon-user"></span> Đăng Ký
                        </button>
                        <button type="reset" class="btn btn-default" ng-click="resetForm(user)"><span class="glyphicon glyphicon-refresh"></span> Reset</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
    </div>
    <div class="panel-footer">
        <strong>Những mục có dấu * bắt buộc phải nhập</strong>
    </div>
  </div>
</div>
</section>